{% include 'header.html' %}
<header class="masthead" >
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  <h1>Login</h1>
              </div>
          </div>
      </div>
  </div>
</header>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 mb-4">
        <form action="{{url_for('login')}}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
          {{ form.csrf_token }}
          <p>
            {{ form.email.label }} <br/> {{ form.email(size=30)}}
            {% for err in form.email.errors %}
              <span style="color: red;">{{ err }}</span>
            {% endfor %}
          </p>
          <p>
            {{ form.password.label }} <br/> {{ form.password(size=30)}}
            {% for err in form.password.errors %}
              <span style="color: red;">{{ err }}</span>
            {% endfor %}
          </p>
          {{ form.submit }}
          <!-- <input type="submit" value="Login" class="btn btn-primary"> -->
        </form>
      </div>
  </div>
</div>
{% include 'footer.html' %}